# Exercícios

## 1. Faturamento do Melhor e do Pior Mês do Ano

Qual foi o valor de vendas do melhor mês do Ano?
E valor do pior mês do ano?

In [52]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]


print(min(vendas_2sem))
print(max(vendas_2sem))

9650
49051

## 2. Continuação

Agora relacione as duas listas para printar 'O melhor mês do ano foi {} com {} vendas' e o mesmo para o pior mês do ano.

Calcule também o faturamento total do Ano e quanto que o melhor mês representou do faturamento total.

Obs: Para o faturamento total, pode usar a função sum(lista) que soma todos os itens de uma lista

In [53]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

total1sem = sum(vendas_1sem)
total2sem = sum(vendas_2sem)

total = total1sem + total2sem

print('O menor fatramento foi no mes de {} tendo apenas {}. Já o mes com maior faturamento foi o mes de {} tendo {} vendas.'.format(meses[11], vendas_2sem[5], meses[10], vendas_2sem[4]))

print('O total do mês foi {}'.format(total))

O menor fatramento foi no mes de dez tendo apenas 9650. Já o mes com maior faturamento foi o mes de nov tendo 49051 vendas.
O total do mês foi 261486

## 3. Crie uma lista com o top 3 valores de vendas do ano (sem fazer "no olho")

Dica: o método remove retira um item da lista.

In [54]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]
top3 = []

vendas_totais = vendas_1sem + vendas_2sem
venda1 = max(vendas_totais)
top3.append(venda1)
vendas_totais.remove(venda1)

venda2 = max(vendas_totais)
top3.append(venda2)
vendas_totais.remove(venda2)

venda3 = max(vendas_totais)
top3.append(venda3)
vendas_totais.remove(venda3)

print(top3)

[49051, 29000, 25000]